<div class="content-box">
  <div class="content">
    <div class="card">
      <div class="firstinfo"><img src="./assets/imagenes/nuevo/me.jpeg" />
        <div class="profileinfo">
          <h1>Franco Lippi</h1>
          <h3>JavaScript Ninja</h3>
          <p class="bio">Viví toda mi vida en la cima del monte Fuji, aprendiendo a ser un Ninja Dev.</p>
        </div>
      </div>
    </div>
    <div class="badgescard">
      <div class="firstinfo"><img src="./assets/imagenes/nuevo/flippisay.png" />
        <div class="profileinfo">
          <h2>Mi juego</h2>
          <h3>FlippiSay - Juego de memoria</h3>
          <p class="bio">Memoriza la secuencia de colores y repitela hasta donde te acuerdes. El objetivo de este juego es hacer clic sobre las colores que el juego resalta, en el mismo orden. Inicialmente, la secuencia de colores tiene la longitud 1. Cada vez que consigues reproducirla correctamente, su longitud aumenta por 1. Si haces un error tu puntuación vuelve a cero (pero el récord se queda).</p>
        </div>
      </div>
    </div>
  </div>
</div>