

.contenedor{
    h3 {
        text-align: center;
        position: absolute;
        button {
            margin-top: 45px;        }
    }
    background-color: #e9ecef;
    height: 500px;
    justify-content: center;
    align-content: center;
    display: flex;    
}

#board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    font-size: 50px;
    grid-gap: 1px;
    justify-content: center;
    align-content: center;
}

#board.locked {
    opacity: .7;
    pointer-events: none;
}

#board .square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}

#board .square.checked {
    cursor: default;
}

#board .square.winner {
    background-color: #A1FFA1;
}

#board .square.looser {
    background-color: #ffa1a1;
}

input[type=button] {
    margin-top: 20px;
}