<app-banner titulo="Jugadores" subtitulo="Listado de jugadores registrados."></app-banner>
<table class="table table-condensed">
  <thead class="thead-dark">
    <tr>
      <th>Usuario</th>
      <th>Correo</th>
      <th>Fecha Alta</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of listado | sortBy:'createdAt':'desc'">
      <td>{{jugador.name}} </td>
      <td>{{jugador.mail}} </td>
      <td>{{jugador.createdAt}} </td>
    </tr>
  </tbody>
</table>
<div *ngIf="isLoading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>