<!-- <div class="container">
  <div class="card">
    <img class="img-thumbnail" src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
    <h1>Velocidad y agilidad aritmética </h1>
    <p class="title">Juego de agilidad mental</p>
    <p>UTN FRA </p>

    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <p> <button class="button" (click)="Juego('Agilidad')">Jugar</button></p>

  </div>

  <div class="card">
    <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
    <h1>Piedra Papel o Tijera</h1>
    <p class="title">Juega contra la máquina</p>
    <p>UTN FRA </p>

    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <p> <button class="button" (click)="Juego('PPT')">Jugar</button></p>
  </div>
  <div class="card">
    <img class="img-thumbnail" src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
    <h1>Adivina el número secreto</h1>
    <p class="title">Juega de estrategia</p>
    <p>UTN FRA </p>

    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <p> <button class="button" (click)="Juego('Adivina')">Jugar</button></p>
  </div>
</div> -->



<div class="card-group">
  <div class="card">
    <img src="./assets/imagenes/nuevo/flippisay.png" style="height: 250px;" class="card-img-top" alt="flippisay">
    <div class="card-body">
      <h5 class="card-title">FlippiSay</h5>
      <p class="card-text">Poné a prueba tu memoria.</p>
      <p class="card-text"><button class="btn btn-dark btn-block text-uppercase mb-2 rounded-pill shadow-sm" (click)="Juego(1)">Jugar</button></p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/imagenes/nuevo/anagrama.png" style="height: 250px;" class="card-img-top" alt="anagrama">
    <div class="card-body">
      <h5 class="card-title">Anagrama</h5>
      <p class="card-text">Encuentra la palabra correcta.</p>
      <p class="card-text"><button class="btn btn-dark btn-block text-uppercase mb-2 rounded-pill shadow-sm" (click)="Juego(2)">Jugar</button></p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/imagenes/nuevo/piedra.jpeg" style="height: 250px;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Piedra Papel o Tijera</h5>
      <p class="card-text">1,2,3... YA.</p>
      <p class="card-text"><button class="btn btn-dark btn-block text-uppercase mb-2 rounded-pill shadow-sm" (click)="Juego(3)">Jugar</button></p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img src="./assets/imagenes/nuevo/aritmetica.png" style="height: 250px;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Agilidad Aritmetica</h5>
      <p class="card-text">La velocidad lo es todo.</p>
      <p class="card-text"><button class="btn btn-dark btn-block text-uppercase mb-2 rounded-pill shadow-sm" (click)="Juego(4)">Jugar</button></p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/imagenes/nuevo/adivina.png" style="height: 250px;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adivina el número</h5>
      <p class="card-text">Puedes lograr adivinarlo?.</p>
      <p class="card-text"><button class="btn btn-dark btn-block text-uppercase mb-2 rounded-pill shadow-sm" (click)="Juego(5)">Jugar</button></p>
    </div>
  </div>
  <div class="card">
    <img src="./assets/imagenes/nuevo/tateti.png" style="height: 250px;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">TaTeTi</h5>
      <p class="card-text">Juega contra la maquina.</p>
      <p class="card-text"><button class="btn btn-dark btn-block text-uppercase mb-2 rounded-pill shadow-sm" (click)="Juego(6)">Jugar</button></p>
    </div>
  </div>
</div>