<app-banner titulo="Agilidad Aritmetica" subtitulo="Los juegos matemáticos son una manera divertida de practicar habilidades matemáticas como contar y estrategia numérica. Deberas hacer la cuenta lo mas rapido posible."></app-banner>
<div class="contenedor">
  <h4>Vidas:</h4>
  <div id="countScore"><span>{{nuevoJuego.lifePlayer}}</span></div>
  <div id="canvas">
    <div id="words">
      <h1 class="question text-center">{{nuevoJuego.question}}</h1>
    </div>
  </div>
  <form id="control">
    <h4 class="text-center">Puntaje: {{nuevoJuego.scorePlayer}}</h4>
    <div>
      <input type="text" class="form-control" id="answer" name="answer" placeholder="Respuesta" [(ngModel)]="nuevoJuego.userAnswer">
    </div>
    <div>
      <button class="btn btn-dark text-uppercase mb-2 rounded-pill shadow-sm" *ngIf="nuevoJuego.lifePlayer > 0" (click)="nuevoJuego.verificar()"
        id="submitbutton">Responder</button>
      <button class="btn btn-dark text-uppercase mb-2 rounded-pill shadow-sm" *ngIf="nuevoJuego.lifePlayer > 0" (click)="nuevoJuego.skipQuestion()">Saltar</button>
    </div>

    <div *ngIf="nuevoJuego.lifePlayer === 0">
      <h1 class="question text-center">Perdiste!</h1>
      <button class="btn btn-dark text-uppercase mb-2 rounded-pill shadow-sm" (click)="nuevoJuego.reloadPage()">Jugar
        de nuevo</button>
    </div>
  </form>
</div>