<!-- <div class="panel panel-default">
  <div class="hero-text">
    <h1 style="font-size:50px">Sala de Juegos</h1>
    <p>Franco Lippi</p>
    <a href="https://github.com/soyflippi" target="_blank"
      >en GitHub <i class="fa fa-github"></i
    ></a>
    <a routerLink="/QuienSoy">Quien Soy? <i class="fa fa-user"></i></a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a routerLink="/Registro"
        ><span class="glyphicon glyphicon-user"></span>Registrarse</a
      >
    </li>
    <li>
      <a routerLink="/Login"
        ><span class="glyphicon glyphicon-log-in"></span> Ingresar</a
      >
    </li>
  </ul>
</div>
 -->

<header>
  <div class="collapse bg-info" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">
            Add some information about the album below, the author, or any other
            background context. Make it a few sentences long so folks can pick
            up some informative tidbits. Then, link them off to some social
            networking sites or contact information.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-light bg-info box-shadow">
    <div class="container d-flex">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img
          class="card-img-top img-logo"
          src="./assets/imagenes/svg/logo.svg"
          alt="Juegos"
        />
        <strong>Flippi GAMES</strong>
      </a>
    </div>
  </div>
</header>
