/* reset  */
.contenedor{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e9ecef;
}
.contenedor, div, span, h1, label, section, input
 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

section {
	width: 1200px;
	height: 500px;
	background-color:#588C7E;
	text-align: center;
	padding: 50px;
	margin: 0 auto;
	
}

#canvas {
	position:relative;
	width: 100%;
	height: 150px;
	
}
.letter {
    width: 80px;
    height: 80px;
    border-bottom: 3px solid grey;
    background-color: #999999;
    border-radius: 10px;
    size: 50px;
    font-size: 50px;
    line-height: 85px;
    color: black;
    display: inline-block;
    margin-left: 50px;
	-webkit-transition: opacity .8s, transform .5s;
	-moz-transition: opacity .8s, transform .5s;
}

#control {
	margin-top:30px;
	height: 150px;
}
#control div {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.countdown {
	width:120px;
	height: 120px;
}

input[name="answer"] {
	width: 250px;
	height: 50px;
	border-radius: 3px;
	line-height: 40px;
	padding-left: 5px;
	font-size: 20px;
	color: black;
	font-family: "Lucida Console", sans-serif;
	border: 1px solid #999999;
}


#countScore {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: black;
	font-size: 25px;
	border-radius: 2px;
}

.letterVisible {
	opacity: 1;	
}

.letterHidden {
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
}

.letterCorrect {
	color:#588C7E;
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
}

#words{
    margin-top: 20px;
    text-align: center;
}